<div class="article article--sm js-video">
	<div class="article__poster">
		<figure>
			<img src="assets/images/temp/soda.png" alt="" width="757" height="447">
		</figure>
	
		<div class="article__video">
			<iframe src="https://player.vimeo.com/video/63655754" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
		</div><!-- /.article__video -->
	
		<button class="article__play js-video-trigger"></button>
	</div><!-- /.article__poster -->
	
	<div class="article__body">
		<h2>VODKA SODA</h2>
	
		<h3>tasteful yet low calorie drink</h3>
	
		<p>Fill a rocks glass with ice cubes. Add all ingredients. Garnish with two lime wheels.</p>
	
		<a href="assets/recipe.pdf" class="article__btn" target="blank">RECIPE</a>
	</div><!-- /.article__body -->
</div><!-- /.article -->
