<div class="article article--xs js-video">
	<div class="article__poster">
		<figure>
			<img src="assets/images/temp/winter-shot.png" alt="" width="624" height="447">
		</figure>
	
		<div class="article__video">
			<iframe src="https://player.vimeo.com/video/63655754" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
		</div><!-- /.article__video -->
	
		<button class="article__play js-video-trigger"></button>
	</div><!-- /.article__poster -->
	
	<div class="article__body">
		<h2>Tomorrowland Shot – Winter</h2>
	
		<h3>TAKES YOU BACK TO THE SLOPES</h3>
	
		<p>Fill a shaker with ice cubes. Add all ingredients. Shake and strain into a shot glass. Garnish with an apple wedge and cinnamon rim.</p>
	
		<a href="assets/recipe.pdf" class="article__btn" target="blank">RECIPE</a>
	</div><!-- /.article__body -->
</div><!-- /.article -->
