<div class="article article--sm js-video">
	<div class="article__poster article__poster--offset">
		<figure>
			<img src="assets/images/temp/limon.png" alt="" width="690" height="514">
		</figure>
	
		<div class="article__video">
			<iframe src="https://player.vimeo.com/video/63655754" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
		</div><!-- /.article__video -->
	
		<button class="article__play js-video-trigger"></button>
	</div><!-- /.article__poster -->
	
	<div class="article__body">
		<h2>Havana Limon</h2>
	
		<h3>A REFRESHING BALANCE OF SWEET&nbsp;&amp;&nbsp;CITRUS FLAVOURS</h3>
	
		<p>Essentially a twist on the Cuba Libre cocktail using ginger ale instead of cola, combined with Especial’s vanilla's aromas and a sharp squeeze of lime. For a more fiery hit switch out the ginger ale for ginger beer.</p>
	
		<a href="assets/recipe.pdf" class="article__btn" target="blank">RECIPE</a>
	</div><!-- /.article__body -->
</div><!-- /.article -->
