<div class="article article--reverse article--reverse-sm js-video">
	<div class="article__poster">
		<figure>
			<img src="assets/images/temp/daiquiri.png" alt="" width="847" height="494">
		</figure>
	
		<div class="article__video">
			<iframe src="https://player.vimeo.com/video/63655754" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
		</div><!-- /.article__video -->
	
		<button class="article__play js-video-trigger"></button>
	</div><!-- /.article__poster -->
	
	<div class="article__body">
		<h2>CLASSIC DAIQUIRI </h2>
	
		<h3>light, refreshing, and the perfect easy COCKTAIL</h3>
	
		<p>Fill a shaker with ice cubes. Add all ingredients. Shake and strain into a cocktail glass. Garnish with a lime wheel.</p>
	
		<a href="assets/recipe.pdf" class="article__btn" target="blank">RECIPE</a>
	</div><!-- /.article__body -->
</div><!-- /.article -->
