<div class="article article--sm js-video">
	<div class="article__poster">
		<figure>
			<img src="assets/images/temp/summer-shot.png" alt="" width="757" height="447">
		</figure>
	
		<div class="article__video article__video--short">
			<iframe src="https://player.vimeo.com/video/63655754" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
		</div><!-- /.article__video -->
	
		<button class="article__play js-video-trigger"></button>
	</div><!-- /.article__poster -->
	
	<div class="article__body article__body--lg article__body--short">
		<h2>Tomorrowland Shot – Summer</h2>
	
		<h3>GET INTO THE FESTIVAL VIBE</h3>
	
		<p>Fill a shaker with ice cubes. Add all ingredients. Shake and strain into a shot glass. Garnish with an apple wedge and cinnamon rim.</p>
	
		<a href="assets/recipe.pdf" class="article__btn" target="blank">RECIPE</a>
	</div><!-- /.article__body -->
</div><!-- /.article -->
