<div class="article article--reverse js-video">
	<div class="article__poster">
		<figure>
			<img src="assets/images/temp/mojito.png" alt="" width="879" height="432">
		</figure>
	
		<div class="article__video article__video--short">
			<iframe src="https://player.vimeo.com/video/63655754" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
		</div><!-- /.article__video -->
	
		<button class="article__play js-video-trigger"></button>
	</div><!-- /.article__poster -->
	
	<div class="article__body article__body--sm">
		<h2>MOJITO</h2>
	
		<h3>A tall, refreshing Cuban?signature cocktail</h3>
	
		<p>Muddle mint leaves and simple syrup in a highball glass. Fill with ice cubes. Add lime juice and light rum. Top up with soda water. Garnish with a mint leaf.</p>
	
		<a href="assets/recipe.pdf" class="article__btn" target="blank">RECIPE</a>
	</div><!-- /.article__body -->
</div><!-- /.article -->
