<footer class="footer">
	<div class="footer__shell shell">
		<ul class="list-frames list-frames--reverse">
			<li>
				<a href="#"><img src="assets/images/temp/logo-olmeca.png" alt="" width="60" height="60"></a>
			</li>
		
			<li>
				<a href="#"><img src="assets/images/temp/logo-absolut.png" alt="" width="96" height="19"></a>
			</li>
		
			<li>
				<a href="#"><img src="assets/images/temp/logo-havana.png" alt="" width="60" height="62"></a>
			</li>
		</ul><!-- /.list-frames -->
		
		<a href="#" class="footer__logo"><img src="assets/images/logo.png" alt="" width="199" height="128"></a>

		<a href="#" class="btn footer__btn">BUY TICKETS</a>

		<p class="footer__copyright">&copy;2020&nbsp;TOMORROWLAND <span>&nbsp;&bull;&nbsp;</span> <br> <a href="#">PRIVACY POLICY TERMS&nbsp;&amp;&nbsp;CONDITIONS</a></p><!-- /.footer__copyright -->
	</div><!-- /.footer__shell -->
</footer><!-- /.footer -->
