<div class="hero">
	<div class="shell hero__shell">
		<a href="#" class="hero__logo"><img src="assets/images/logo.png" alt="" width="199" height="128"></a>

		<div class="hero__head">
			<div class="frame">
				<i></i> <span></span> <span></span> <span></span> <span></span>
			</div><!-- /.frame -->
			
			<h1>COCKTAIL INSPIRATION</h1>
			
			<h4>10 RECIPES TO DISCOVER ALONG WITH THE DIGITAL FESTIVAL</h4>
			
			<ul class="list-frames">
				<li>
					<a href="#"><img src="assets/images/temp/logo-olmeca.png" alt="" width="60" height="60"></a>
				</li>
			
				<li>
					<a href="#"><img src="assets/images/temp/logo-absolut.png" alt="" width="96" height="19"></a>
				</li>
			
				<li>
					<a href="#"><img src="assets/images/temp/logo-havana.png" alt="" width="60" height="62"></a>
				</li>
			</ul><!-- /.list-frames -->
		</div><!-- /.hero__head -->

		<div class="hero__body">
			<div class="hero__countdown">
				<div id="countdown">
					<span>0H</span>:<span>0M</span>:<span>0S</span>
				</div><!-- /#countdown -->
			</div><!-- /.hero__countdown -->

			<p>Want to try some of  these cocktails during the festival? <br> Check out the recipes below and put the ingredients on your shopping list!</p>
		</div><!-- /.hero__body -->
	</div><!-- /.shell -->
</div><!-- /.hero -->
